/* --------UTILITIES-------- */


* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

.common-description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.common-btn {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: 0;
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 20px;
}

.common-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin: 0;
}


/* --------HEADER-------- */

.header {
    margin: 0;
    background-color: #FF900E1A;
    width: 100%;
    padding: 50px 0;
}

.top-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.logo {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.nav-container ul {
    display: flex;
}

.nav-container ul li {
    list-style: none;
    margin-right: 50px;
}

.nav-container ul li a {
    text-decoration: none;
    color: #424242;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    text-align: center;
    margin: 0;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 40px;
}

.banner-description {
    text-align: center;
}

.banner-image {
    margin-top: 50px;
    width: 73%;
    height: auto;
}



/* --------FEATURES 1-------- */

.feature-1 {
    margin: 100px 300px;
    display: flex;
    align-items: center;
}

.feature-image-container {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 25px;
    margin-right: 70px;
}

.feature-title {
    color: #727272;
    font-weight: 300;
    font-size: 45px;
    margin: 0;
}

.feature-title span {
    color: #131313;
    font-weight: 700;
}

.feature-title div {
    color: #FF900E;
    font-weight: 700;
}

.feature-description {
    text-align: justify;
    margin: 30px 0;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.feature-1 .common-description {
    text-align: justify;
    margin: 30px 0;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

/* --------FEATURES 2-------- */

.feature-2 {
    margin: 100px 250px;
    display: flex;
    gap: 150px;
    align-items: center;
}

.feature-2 .common-title {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 25px;
}

.feature-2 .common-description {
    margin-bottom: 30px;
}

.feature-box {
    width: auto;
    height: auto;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px #0000000f;
}

.feature-box .feature-name {
    margin: 0;
    margin-bottom: 10px;
}

.feature-box .common-description {
    margin: 0;
    text-align: justify;
}

.feature-element {
    position: relative;
}

.top-element-container {
    position: absolute;
    top: 850px;
    left: -100px;
}

.top-element-container .canvas {
    background-color: #FF900E;
    border-radius: 8px;
    border: 0;
    padding: 45px;
}

.top-element-container .canvas  h3 {
    margin: 0;
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;

}

.top-element-container .canvas  p {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
}



/* --------FACTS-------- */

.facts {
    margin: 200px 250px;
}

.facts .common-description {
    margin-top: 25px;
    margin-bottom: 100px;
}

.fact-box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}

.fact-box:hover {
    transform: scale(1.5);
}

.fact-box {
    transition: transform .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #FF900E;
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.fact-count {
    margin: 0;
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}

.fact-name {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}



/* --------SPONSOR-------- */

.sponsors {
    margin: 0 250px;
}

.sponsors .common-title {
    text-align: center;
}

.sponsors .common-description {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.brand-logo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors .brand-logo-container img {
    margin-right: 150px;
    filter: grayscale(100%);
    margin-bottom: 100px;
}


/* --------CONTACT-------- */

.subscribe {
    padding: 100px 0;
    background-color: #131313;
}

.subscribe-container {
    margin: 0 250px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.subscribe .common-title {
    color: white;
    margin-bottom: 30px;
}

.subscribe .common-description {
    text-align: justify;
    color: white;
}

.subscribe .fa-brands {
    margin-right: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

.subscribe-form input {
    padding-left: 15px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    width: 350px;
    height: 60px;
    margin-bottom: 30px;
}



/* --------FOOTER-------- */

.footer {
    display: flex;
    justify-content: center;
    background-color: #131313;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 800px;
    background-color: #FFF4E7;
    border-radius: 10px;
    margin-bottom: 50px;
}

.footer-text {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}



/* --------MEDIA QUARIES-------- */

 
.banner,
.header {
    display: none;
}

@media only screen and (max-width:688px) {


     /* feature - 1 */

    .feature-1 {
        margin: 100px 0;
        flex-direction: column;
    }

     .feature-image-container {
        grid-template-columns: repeat(1,1fr);
        margin: 0;
     }

     .feature-title {
        margin-top: 20px;
        text-align: center;
     }

     .feature-1 .common-description {
        padding: 0 20px;
        text-align: center;
     }



    /* feature - 2 */

    .feature-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        gap: 20px;
        margin-bottom: 100px;
    }

    .feature-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature-2 .common-title {
        padding: 0;
        margin: 0;
        border-style: none;
        border-bottom: 5px solid #FF900E;
        margin-bottom: 25px;
        text-align: center;
    }

    .feature-2 .feature-info-container .common-description {
        text-align: center;
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .feature-box {
        /* display: none; */
        width: 300px;
        padding: 30px 30px 10px  30px;
        /* background-color: rgb(229, 255, 0); */
    }

    .feature-name {
        text-align: center;
    }

    .feature-box .common-description {
        margin: 0;
        text-align: left;
    }

    .feature-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .top-element-container {
        top: 0;
        left: 0;
    }

    .bottom-element-container img {
        width:300px;
    }

    .feature-2 .common-description {
        text-align: left;
    }

    .feature-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-element-container .canvas {
        display: none;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    /* facts */

    .facts {
        margin: 0;
        margin-bottom: 100px;
    }

    .fact-box-container {
        display: flex;
        flex-direction: column;
        transition: transform .2s;
    }

    .fact-box:hover {
        transform: scale(1.2);
    }

    /* sponsors  */
    .sponsors {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .common-title {
        text-align: center;
    }

    .common-description {
        text-align: center;
    }

    .brand-logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .sponsors .brand-logo-container img {
        margin: 0;
        margin-bottom: 100px;
    }


    /* subscribe  */

    .subscribe-container {
        margin: 0;
        flex-direction: column;
    }

    .subscribe-text {
        padding: 0 20px;
        text-align: center;
    }

    .subscribe-text .common-description {
        text-align: center;
    }

    .subscribe-form {
        text-align: center;
    }

    .subscribe-form input {
        width: 100%;
    }

    /* footer  */

    .footer-container {
        width: 100%;
        padding: 0 20px;
    }
}